# Secure files
config/database.yml

# Ignore Mac OS X .DS_*
.DS_*

# Ignore rails temporary folder
log
tmp

# Ignore ferret index folder
index

# Ignore plugins (should be configured on server)
vendor/plugins/jrails
vendor/plugins/acts_as_ferret
