/**********************************
Name: cmxform Styles
Author: Nick Rigby 
***********************************/
 
form.cmxform {
	width: 480px;
	font-size: 1.1em;
	color: #333;
	margin-left: 22px;
	border-collapse: collapse;
	border-color: #a2a2a2;
	border-style: dashed;
	border-width: thin;
	}
	
form.cmxform legend { padding-left: 0; }
	
form.cmxform legend,
form.cmxform label { color: #333; }
 
form.cmxform fieldset {
	border: none;
	border-top: 1px solid #C9DCA6;
	background: url(../../../images/form/cmxform-fieldset.gif) left bottom repeat-x;
	}
	
form.cmxform fieldset fieldset { background: none; }
	
form.cmxform fieldset li {
	padding: 5px 10px 7px;
	background: url(../../../images/form/cmxform-divider.gif) left bottom repeat-x;
	}